// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #F8F8F8;
}
body,
a {
	color: black;
}

#posts-table,
#posts-table a {
	color: black;
}

#posts-table * td {
	padding-right: 24px;
}

#posts-table {
	width: 100%;
}

#posts-table th {
	text-align: center;
	font-weight: normal;
	background-color: gray;
	color: white;
}
#posts-table th,
#posts-table td {
	padding: 2px 12px 2px 12px;
}

.show-border-bottom {
	border-bottom: solid 2px;
}

.show-border-left {
	border-left: solid 20px;
}

.border-red {
	border-color: #ffe5f2;
}
.border-orange {
	border-color: #fff2e5;
}
.border-yellow {
	border-color: #ffffe5;
}
.border-green {
	border-color: #e5ffe5;
}
.border-blue {
	border-color: #e5ffff;
}
.border-indigo {
	border-color: #e5f2ff;
}
.border-purple {
	border-color: #e5e5ff;
}

#posts-table tr.post-red td.post-category {
	background-color: #ffe5f2;
}
#posts-table tr.post-orange td.post-category {
	background-color: #fff2e5;
}
#posts-table tr.post-yellow td.post-category {
	background-color: #ffffe5;
}
#posts-table tr.post-green td.post-category {
	background-color: #e5ffe5;
}
#posts-table tr.post-blue td.post-category {
	background-color: #e5ffff;
}
#posts-table tr.post-indigo td.post-category {
	background-color: #e5f2ff;
}
#posts-table tr.post-purple td.post-category {
	background-color: #e5e5ff;
}

